
<!-- SLIDE SHOW BEGIN
<%= render 'home/slideshow' %>
<!-- SLIDE SHOW END  -->
<div class="main_content_container1">
  <img src= <%= asset_path "picture1.jpeg" %> >
  <!--  SECTION 1   -->
  <div style="background-color: #ffffff; width: 100%; height: 400px">
    <div class="main_content_inner_container1">
      <div class="main_content_inner_container1_column1">
        <p style="color:#828288;font-size: 50px;margin-top: 50px">Social Seam.org <br />
          <span style="font-size: 12px">THREADING COMMUNITY TOGETHER</span></p>
        <br />
        <div><span style="color:#828288;font-size: 25px;">
        We connect People in need with Businesses, Schools, Hospitals, Organizations & other People willing to help.
        <br><br>Want to know more?
        <br><br>
              <!--   Modal 1 Button   -->
    <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Click Here To Find Out How</a>
       </span>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Learn how it works for your need or get a whole overview.</h3>
      </div>
      <div class="modal-body">
        <p>dsd </p>
        <button class="btn-large btn-success">How it works for Businesses</button><br /> <br />
        <button class="btn-large btn-info">How it works for Non-Profits</button><br /><br />
        <button class="btn-large btn-primary">How it works for People In Need</button> <br /><br />
        <button class="btn-large btn-warning">How it works for People wanting to donate</button> <br /><br />
        <button class="btn-large btn-danger">How it works for Everyone</button> <br /><br />
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- End Modal   -->
  </div>
  <!--  END  SECTION 1   -->
  <!--  SECTION 2   -->
  <div style="background-color: #add8e6; width: 100%; height: 400px">
    <div class="main_content_inner_container1">
      <div class="main_content_inner_container1_column1" style="float: right">
        <p style="color:#828288;font-size: 50px;margin-top: 30px">Trust<br />
          <span style="font-size: 12px">KNOW WHERE YOUR TIME, ENERGY & DONATIONS GO</span></p>
        <br />
        <div><span style="color:#828288;font-size: 25px;">
        Building & maintaining trust is key in any meaningful relationship.
        Our mission was to create a tool that people would feel comfortable and safe using while helping their friends, family, and community members.
        <br><br>We we did it.
        <br><br>
              <!--   Modal 2 Button   -->
    <a href="#myModal2" role="button" class="btn btn-success" data-toggle="modal">Click Here To See What We Did</a>
       </span>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel2">We have utilized existing technology to help people develop solid relationships regardless of the physical distance between them. </h5>
      </div>
      <div class="modal-body">
        <p>We use splecialized algorithms to match people in need with people willing to help. Think of like a dating site for charity.  </p>
        <button class="btn btn-success">Matching People In Need With Those Willing To Help</button><br /> <br />
        <p>Communication is extremely important when building trust. We have intergrated WebRTC to allow people to have a real time conversation with one another. In other words, you can video chat
           folks to get to know them</p>
        <button class="btn btn-info">Live Communication - WebRTC</button><br /><br />
        <p>Knowing where your donations and efforts are being used is essential to build trust. In fact through our research we have discovered that not
           knowing where one's donations are going to be used is the number one reason people do not donate. Click the button below to find out how we solved this problem. </p>
        <button class="btn btn-primary">Making Sure The Donations Go Where They Are Needed</button> <br /><br />
        <p>We do not store any credit card information.</p>
        <button class="btn btn-warning">Keeping Your Payment Information Safe</button> <br /><br />
        <button class="btn btn-danger">Verifying Causes</button> <br /><br />

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- End Modal   -->
  </div>
  <!--  END    SECTION 2   -->
  <!--  SECTION 3   -->
  <div style="background-color: #ffffff; width: 100%; height: 400px">
    <div class="main_content_inner_container1">
      <div class="main_content_inner_container1_column1">
        <p style="color:#828288;font-size: 50px;margin-top: 100px">Auteur</p>
        <br />
        <div><span style="color:#828288;font-size: 25px;">
        So you want to be a film maker?
        <br><br>We can help.
        <br><br>
              <!--   Modal 3 Button   -->
    <a href="#myModal3" role="button" class="btn btn-success" data-toggle="modal">Click Here To Find Out How</a>
       </span>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel3">3</h3>
      </div>
      <div class="modal-body">
        <p>Choose a dick to suck from the list of wonderful dicks below. </p>
        <button class="btn btn-primary">Jason Leo Baguio</button>
        <button class="btn btn-primary">Frankie Levangie</button>
        <button class="btn btn-primary">Ace Norton</button>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- End Modal   -->
  </div>
  <!--  END   SECTION 3   -->
  <!--  SECTION 4   -->
  <div style="background-color: #add8e6; width: 100%; height: 400px">
    <div class="main_content_inner_container1">
      <div class="main_content_inner_container1_column1" style="float: right">
        <p style="color:#828288;font-size: 50px;margin-top: 100px">Hey Frankie!!!</p>
        <br />
        <div><span style="color:#828288;font-size: 25px;">
        So you want me to hire you?
        <br><br>Okay.
        <br><br>
              <!--   Modal 4 Button   -->
    <a href="#myModal4" role="button" class="btn btn-success" data-toggle="modal">Click Here For My Conditions</a>
       </span>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel4">4</h3>
      </div>
      <div class="modal-body">
        <p>Choose a position!!! </p>
        <button class="btn btn-primary">Doggie</button>
        <button class="btn btn-primary">Missionary</button>
        <button class="btn btn-primary">Reverse Cowboy</button>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- End Modal   -->
  </div>
  <!--  END   SECTION 4   -->



















  </div>

</div>










